<template>
    <div>
        <h2>User page</h2>
        <p v-for="user in users" :key="user">
            <router-link :to="{
                name :'UserSingle',
                params:{
                    id:user.id
                }
            }" >
                {{ user.id }}{{ user.name }}
            </router-link>
    </p>
    </div>
</template>

<script>
    export default {
        data() {
            return {
                users: [
                    { id:1, name: 'jhon'},
                    { id:2, name: 'mark'},
                    { id:3, name: 'jack'},
                    { id:4, name: 'benz'},
                ]
            }
        },
    }
</script>